body{
    background-color: $backgroundcolor;
    color: $textcolor;
}
main{
    .container{
        width: 1050px;
    }
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    .section1{
    padding: 80px 0px;
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
        .leftside{
            display: flex;
            flex-direction: column;
            row-gap: 30px;
            width: 510px;
            h1{
                font-size: 67px;
                font-weight: 600;
                text-transform: capitalize;
                line-height: 73.70px;
                word-wrap: break-word;
                margin-bottom: -10px;
            }
            p{
                font-size: 22px;
                font-weight: 400;
                text-transform: capitalize;
                line-height: 35.20px;
                word-wrap: break-word;
            }
            button{
                width: 224px;
                padding: 0px 50px;
            }
            .stats{
                display: flex;
                column-gap: 30px;
                div{
                    width: 150px;
                }
            }
        }
    }
    .section2{
        padding: 80px 0px;
        display: flex;
        header{
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            margin-bottom: 60px;
            h2{
                font-size: 38px;
                font-weight: 600;
                text-transform: capitalize;
                line-height: 45.60px;
                word-wrap: break-word;
            }
            p{
                font-size: 22px;
                font-weight: 400;
                text-transform: capitalize;
                line-height: 35.20px;
                word-wrap: break-word;
            }
        }


    }
}
