.rankings{
    h1{
        margin-bottom: 20px;
    }
    >p{
        margin-bottom: 80px;
    }
    div:nth-child(3){
        display: flex;
        justify-content: space-between;
        padding: 10px 50px;
        margin-bottom: 40px;
        p:nth-child(5),p:nth-child(6),p:nth-child(7),p:nth-child(8){
            display: none;
        }
    }
    >div:nth-child(4){
        span{
            cursor: pointer;
        }
        span:first-child{
            padding-left: 45px;
            width: 430px;
            margin-right: -80px;
        }
        span:last-child{
            padding-right: 100px;
        }
        height: 46px;
        display: flex;
        border: 1px solid #3B3B3B;
        border-radius: 20px;
        padding: 12px 20px;
        justify-content: space-between;
    }
    .rankings_cards{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        .card{
            margin: 0px;
            background-color: #3B3B3B;
            border-radius: 20px;    
            width: 100%;
            height: 84px;
            display: flex;
            align-items: center;
            position: relative;
            .number{
                position: absolute;
                left: 20px;
                background-color: $backgroundcolor;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            img{
            position: absolute;
            width: 60px;
            height: 60px;
            left: 70px;
            top: 10px;
            }
            .artist_name{
            position: absolute;
            left: 120px;
            margin-bottom: 0px;
            }
            .change{
                position: absolute;
                left: 487px;
            }
            .NFTs_sold{
                position: absolute;
                right: 320px;
            }
            .volume{
                position: absolute;
                right: 120px;
            }
        }
    }
}

@media screen and (max-width:1070px){
    .rankings{
        >div:nth-child(4){
            span:nth-child(3){
                display: none;
            }
        }
        .rankings_cards{
            .card{
                .NFTs_sold{
                    display: none;
                }
                .change{
                    left: 407px;
                }
                .volume{
                    position: absolute;
                    right: 120px;
                }
            }
        }
    }
    
}

@media screen and (max-width:700px){
    .rankings{
        >div:nth-child(3){
            padding: 0px 20px;
            p:nth-child(1),p:nth-child(2),p:nth-child(3),p:nth-child(4){
                display: none;
            }
            p:nth-child(5),p:nth-child(6),p:nth-child(7),p:nth-child(8){
                display: initial;
                color: var(--White, #FFF);
                text-align: center;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 140%; /* 22.4px */
                text-transform: capitalize;
            }
        }
        >div:nth-child(4){
            span:first-child{
                padding-left: 10px;
            }
            span:nth-child(2){
                display: none;
            }
            span:last-child{
                padding-right: 50px;
            }
        }
        .rankings_cards{
            .card{
                height: 50px;
                display: flex;
                align-items: center;
                img{
                    width: 24px;
                    height: 24px;
                    left: 50px;
                    top: 13px;
                }
                .number{
                    width: 20px;
                    height: 20px;
                }
                .change{
                    display: none;
                }
                .volume{
                    font-family: Work Sans;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 140%;
                    right: 80px;
                }
                .artist_name{
                    font-family: Work Sans;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 140%;
                    left: 40px;
                }
                button:last-child{
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}

.spinner_rankings {
    display: none;
    position: absolute;
    margin: auto;
    background-image: linear-gradient(rgb(186, 66, 255) 35%,rgb(0, 225, 255));
    width: 150px;
    height: 150px;
    animation: spinning82341 1.7s linear infinite;
    text-align: center;
    border-radius: 50px;
    filter: blur(1px);
    box-shadow: 0px -5px 20px 0px rgb(186, 66, 255), 0px 5px 20px 0px rgb(0, 225, 255);
  }
  
  .spinner1_rankings {
    background-color: rgb(36, 36, 36);
    width: 150px;
    height: 150px;
    border-radius: 50px;
    filter: blur(10px);
  }
  
  @keyframes spinning82341 {
    to {
      transform: rotate(360deg);
    }
  }