@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Montserrat:wght@600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Work Sans";
}

.primaryBtn {
  width: 152px;
  height: 60px;
  background-color: #A259FF;
  padding: 0 30px;
  border-radius: 20px;
  border: none;
  color: white;
  font-size: 16px;
  font-family: Work Sans;
  font-weight: 600;
  line-height: 22.4px;
  word-wrap: break-word;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.primaryBtn:hover {
  scale: 0.9;
}

.navbar {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 50px;
}
.navbar .leftside_navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  cursor: pointer;
}
.navbar .leftside_navbar :last-child {
  padding-top: 4px;
}
.navbar .rightside_navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  padding-left: 20px;
}
.navbar .rightside_navbar > img {
  display: none;
}
.navbar .rightside_navbar a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 600;
}

@media screen and (max-width: 1070px) {
  .navbar {
    padding: 15px 50px;
  }
  .navbar .rightside_navbar > img {
    display: initial;
    cursor: pointer;
  }
  .navbar .rightside_navbar > a {
    display: none;
  }
  .navbar .rightside_navbar > button {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .navbar {
    padding: 15px 30px;
  }
}
body {
  background-color: #2b2b2b;
  color: #FFFFFF;
}

main {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .container {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1050px;
  padding: 80px 0px;
}
main .container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
  margin-bottom: 60px;
  position: relative;
}
main .container header h2 {
  font-size: 38px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 45.6px;
  word-wrap: break-word;
}
main .container header p {
  font-size: 22px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 35.2px;
  word-wrap: break-word;
}
main .section1 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
main .section1 .leftside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
  width: 510px;
}
main .section1 .leftside h1 {
  font-size: 67px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 73.7px;
  word-wrap: break-word;
  margin-bottom: -10px;
}
main .section1 .leftside p {
  font-size: 22px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 35.2px;
  word-wrap: break-word;
}
main .section1 .leftside button {
  width: 224px;
  padding: 0px 50px;
}
main .section1 .leftside .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
main .section1 .leftside .stats div {
  width: 150px;
}
main .section2 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .section2 .section2_content .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
main .section2 .section2_content .cards > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
}
main .section2 .section2_content .cards > div img {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
main .section2 .section2_content .cards > div img:hover {
  scale: 0.95;
}
main .section2 .section2_content .cards > div > div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
main .section2 .section2_content .cards > div div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}
main .section2 .section2_content .cards > div div:last-child img {
  cursor: pointer;
}
main .section2 .section2_content .cards > div div:last-child img:hover {
  scale: 1;
}
main .section3 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .section3 .section3_header button {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: transparent;
  border: solid 2px #A259FF;
  width: 247px;
}
main .section3 .section3_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
main .section3 .section3_content .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
main .section3 .section3_content .cards > div {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 240px;
  height: 238px;
  background-color: #3B3B3B;
  border-radius: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
main .section3 .section3_content .cards > div:hover {
  scale: 0.95;
}
main .section3 .section3_content .cards > div .number {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #2b2b2b;
  left: 10px;
  top: 10px;
  position: absolute;
}
main .section3 .section3_content .cards > div .number div {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .section3 .section3_content .cards > div .number div p {
  position: absolute;
  top: 5px;
  color: #FFFFFF;
}
main .section3 .section3_content .cards > div img {
  position: absolute;
  left: 25%;
  top: 20px;
}
main .section3 .section3_content .cards > div h3 {
  position: absolute;
  bottom: 50px;
}
main .section3 .section3_content .cards > div p {
  position: absolute;
  bottom: 20px;
}
main .section4 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .section4 .section4_content .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
main .section4 .section4_content .cards > div:hover {
  scale: 0.95;
}
main .section4 .section4_content .cards > div {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
main .section4 .section4_content .cards > div div:last-child {
  width: 240px;
  height: 76px;
  background-color: #3B3B3B;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: -3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .section5 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .section5 .section5_header button {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: transparent;
  border: solid 2px #A259FF;
  width: 187px;
}
main .section5 .section5_content .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
main .section5 .section5_content .cards > div:hover {
  scale: 0.95;
}
main .section5 .section5_content .cards div {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
main .section5 .section5_content .cards div .bottomside:last-child {
  background-color: #3b3b3b;
  width: 330px;
  height: 173px;
  margin-top: -3px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 30px 25px 30px;
  row-gap: 25px;
}
main .section5 .section5_content .cards div .bottomside:last-child > div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -20px;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .section5 .section5_content .cards div .bottomside:last-child > div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main .section6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 0px;
  height: 650px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(162, 89, 255, 0)), to(#A259FF)), url("../../../client/img/section6/big_mushroom.png");
  background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #A259FF 100%), url("../../../client/img/section6/big_mushroom.png");
  background-repeat: no-repeat;
  background-size: cover;
}
main .section6 div {
  position: relative;
}
main .section6 div h1 {
  position: absolute;
  left: 0px;
  bottom: 150px;
  font-size: 51px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 56.1px;
  word-wrap: break-word;
}
main .section6 div button {
  position: absolute;
  left: 0px;
  bottom: 60px;
  width: 198px;
  background-color: #FFFFFF;
  color: #2b2b2b;
}
main .section6 div > img {
  position: absolute;
  bottom: 60px;
  right: 0px;
}
main .section7 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 48px;
}
main .section7 .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
main .section7 .cards .mobile {
  display: none;
}
main .section7 .cards img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
main .section7 .cards img:hover {
  scale: 0.95;
}
main .section8 {
  padding: 40px 0px 80px 0px;
}
main .section8 .section8_content {
  width: 100%;
  background-color: #3B3B3B;
  padding: 60px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
}
main .section8 .section8_content .rightside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}
main .section8 .section8_content .rightside h2 {
  font-size: 38px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 45.6px;
  word-wrap: break-word;
}
main .section8 .section8_content .rightside p {
  font-size: 22px;
  font-weight: 400;
  line-height: 35.2px;
  word-wrap: break-word;
  margin-bottom: 30px;
}
main .section8 .section8_content .rightside div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
main .section8 .section8_content .rightside div input {
  width: 100%;
  height: 60px;
  border-radius: 20px;
  padding: 16px 0px 16px 20px;
  color: #2b2b2b;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  word-wrap: break-word;
  outline: none;
  border: none;
}
main .section8 .section8_content .rightside div button {
  position: absolute;
  right: 0;
}

@media screen and (max-width: 1070px) {
  main .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 690px;
    padding: 40px 0px;
  }
  main .container header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 10px;
    margin-bottom: 40px;
    position: relative;
  }
  main .container header h2 {
    font-size: 28px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 39.2px;
    word-wrap: break-word;
  }
  main .container header p {
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 22.4px;
    word-wrap: break-word;
  }
  main .section1 {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
  main .section1 .leftside {
    width: 330px;
  }
  main .section1 .leftside h1 {
    font-size: 38px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 45.6px;
    word-wrap: break-word;
  }
  main .section1 .leftside p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    word-wrap: break-word;
  }
  main .section1 .leftside .stats img {
    width: 70px;
  }
  main .section1 .rightside img {
    width: 330px;
    height: 330px;
  }
  main .section2 .section2_content .cards .card3 {
    display: none;
  }
  main .section3 .section3_header p {
    width: 343px;
  }
  main .section3 .section3_content .cards > div {
    padding: 20px;
    width: 330px;
    height: 100px;
  }
  main .section3 .section3_content .cards > div .number {
    z-index: 5;
  }
  main .section3 .section3_content .cards > div .number p {
    left: 10px;
  }
  main .section3 .section3_content .cards > div h3 {
    left: 100px;
  }
  main .section3 .section3_content .cards > div p {
    left: 100px;
  }
  main .section3 .section3_content .cards > div img {
    width: 60px;
    height: 60px;
    top: 20px;
    left: 20px;
  }
  main .section3 .section3_content .cards .card7, main .section3 .section3_content .cards .card8, main .section3 .section3_content .cards .card9, main .section3 .section3_content .cards .card10, main .section3 .section3_content .cards .card11, main .section3 .section3_content .cards .card12 {
    display: none;
  }
  main .section4 .section4_content .cards > div .topside {
    width: 150px;
    height: 142px;
  }
  main .section4 .section4_content .cards > div .topside img {
    width: 150px;
    height: 142px;
  }
  main .section4 .section4_content .cards > div div:last-child {
    width: 150px;
    padding: 20px;
  }
  main .section4 .section4_content .cards > div div:last-child h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
  }
  main .section5 .section5_content .cards .card3 {
    display: none;
  }
  main .section6 {
    height: 630px;
  }
  main .section6 .container {
    padding: 40px 0px;
  }
  main .section6 .container h1 {
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 45.6px */
    text-transform: capitalize;
  }
  main .section7 .section7_content .cards img {
    width: 210px;
    height: 320px;
  }
  main .section8 .section8_content {
    padding: 40px 30px;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
  main .section8 .section8_content .leftside img {
    width: 300px;
    height: 280px;
  }
  main .section8 .section8_content .rightside h2 {
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 39.2px */
    text-transform: capitalize;
  }
  main .section8 .section8_content .rightside p {
    width: 300px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
  }
  main .section8 .section8_content .rightside div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 300px;
    row-gap: 16px;
  }
  main .section8 .section8_content .rightside div input {
    height: 46px;
  }
  main .section8 .section8_content .rightside div button {
    width: 100%;
    position: initial;
    height: 46px;
  }
}
@media screen and (max-width: 700px) {
  main .container {
    width: 315px;
    padding: 40px 0px;
  }
  main .section1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 40px;
  }
  main .section1 .leftside {
    width: 315px;
  }
  main .section1 .leftside button {
    width: 315px;
  }
  main .section1 .rightside img {
    width: 315px;
  }
  main .section2 .section2_content .cards > div > img {
    width: 315px !important;
  }
  main .section2 .section2_content .cards > div > div:nth-child(2) img {
    width: 95px;
  }
  main .section2 .section2_content .cards .card2 {
    display: none;
  }
  main .section3 .section3_header p {
    width: 315px;
  }
  main .section3 .section3_header button {
    display: none;
  }
  main .section3 .section3_content .cards div {
    width: 315px;
  }
  main .section4 .section4_content .cards {
    -webkit-column-gap: 19px;
       -moz-column-gap: 19px;
            column-gap: 19px;
  }
  main .section4 .section4_content .cards > div .topside {
    width: 148px;
    height: 142px;
  }
  main .section4 .section4_content .cards > div .topside img {
    width: 148px;
    height: 142px;
  }
  main .section4 .section4_content .cards > div div:last-child {
    width: 148px;
    padding: 20px;
  }
  main .section4 .section4_content .cards > div div:last-child h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
  }
  main .section5 .section5_header button {
    display: none;
  }
  main .section5 .section5_content .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }
  main .section5 .section5_content .cards .card3 {
    display: initial;
  }
  main .section6 {
    background-size: fill;
    height: 593px;
  }
  main .section7 .cards {
    margin-left: -15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .section7 .cards img:nth-child(1), main .section7 .cards img:nth-child(2), main .section7 .cards img:nth-child(3) {
    display: none;
  }
  main .section7 .cards img {
    width: 330px !important;
    height: 157px !important;
  }
  main .section7 .cards .mobile {
    display: initial;
  }
  main .section8 .section8_content {
    background-color: #2b2b2b;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .section8 .section8_content .leftside {
    width: 100%;
  }
  main .section8 .section8_content .leftside img {
    width: 315px;
    height: 255px;
  }
  main .section8 .section8_content .rightside div {
    width: 100%;
  }
}
.section3_content .spinner {
  display: initial;
  position: relative;
  margin: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(35%, rgb(186, 66, 255)), to(rgb(0, 225, 255)));
  background-image: linear-gradient(rgb(186, 66, 255) 35%, rgb(0, 225, 255));
  width: 150px;
  height: 150px;
  -webkit-animation: spinning82341 1.7s linear infinite;
          animation: spinning82341 1.7s linear infinite;
  text-align: center;
  border-radius: 50px;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  -webkit-box-shadow: 0px -5px 20px 0px rgb(186, 66, 255), 0px 5px 20px 0px rgb(0, 225, 255);
          box-shadow: 0px -5px 20px 0px rgb(186, 66, 255), 0px 5px 20px 0px rgb(0, 225, 255);
}
.section3_content .spinner1 {
  background-color: rgb(36, 36, 36);
  width: 150px;
  height: 150px;
  border-radius: 50px;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}
@-webkit-keyframes spinning82341 {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spinning82341 {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.footer {
  width: 100%;
  background-color: #3B3B3B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer p {
  color: #CCCCCC;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  word-wrap: break-word;
}
.footer > div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1050px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.footer > div:last-child > p {
  padding: 20px 0px 40px 0px;
}
.footer .footer_content {
  padding: 40px 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 84px;
     -moz-column-gap: 84px;
          column-gap: 84px;
  border-bottom: 1px solid #FFFFFF;
}
.footer .footer_content .footer_lefside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
}
.footer .footer_content .footer_lefside div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.footer .footer_content .footer_lefside div:first-child h2 {
  width: 500px;
}
.footer .footer_content .footer_lefside div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.footer .footer_content .footer_lefside p {
  width: 238px;
}
.footer .footer_content .footer_middleside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 25px;
}
.footer .footer_content .footer_middleside img {
  width: 95px;
  height: 35px;
}
.footer .footer_content .footer_rightside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 25px;
  width: 100%;
}
.footer .footer_content .footer_rightside img {
  width: 297px;
  height: 35px;
}
.footer .footer_content .footer_rightside p {
  width: 330px;
}
.footer .footer_content .footer_rightside div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
}
.footer .footer_content .footer_rightside div input {
  width: 100%;
  height: 60px;
  border-radius: 20px;
  padding: 16px 0px 16px 20px;
  color: #2b2b2b;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  word-wrap: break-word;
  outline: none;
  border: none;
}
.footer .footer_content .footer_rightside div button {
  position: absolute;
  right: 0;
}

@media screen and (max-width: 1070px) {
  .footer .footer_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40 0px;
    row-gap: 30px;
  }
  .footer .footer_content .footer_rightside div {
    width: 420px;
  }
  .footer .footer_content .footer_rightside p {
    width: 100%;
  }
  .footer > div:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 690px;
    row-gap: 20px;
  }
}
@media screen and (max-width: 700px) {
  .footer .footer_content {
    padding: 40px 0px;
  }
  .footer .footer_content .footer_rightside div:last-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    row-gap: 16px;
  }
  .footer .footer_content .footer_rightside div:last-child input {
    height: 46px;
  }
  .footer .footer_content .footer_rightside div:last-child .primaryBtn {
    position: initial;
    width: 100%;
    height: 46px;
  }
  .footer > div:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 375px;
    padding: 0px 31px;
  }
}
.container {
  width: 1050px;
  padding: 40px 0px;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
}
.center .leftside_content {
  width: 50%;
}
.center .leftside_content img {
  width: 100%;
}
.center .rightside_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px 0px;
  position: relative;
}
.center .rightside_content h1 {
  margin-bottom: 20px;
  font-size: 51px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 56.1px */
  text-transform: capitalize;
}
.center .rightside_content p {
  margin-bottom: 40px;
  width: 460px;
  text-transform: capitalize;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 35.2px */
  text-transform: capitalize;
}
.center .rightside_content span {
  font-size: 13px;
  font-style: normal;
  width: 330px;
  padding-left: 25px;
  padding-top: 5px;
  position: absolute;
  top: 46px;
  color: red;
}
.center .rightside_content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
}
.center .rightside_content div div {
  position: relative;
}
.center .rightside_content div div img {
  position: absolute;
  left: 15px;
  top: 13px;
}
.center .rightside_content div img {
  width: 20px;
  height: 20px;
}
.center .rightside_content div input {
  width: 330px;
  height: 46px;
  border-radius: 20px;
  padding-left: 40px;
  outline: none;
  border: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: #2b2b2b;
}
.center .rightside_content div button {
  width: 330px;
  height: 46px;
}

@media screen and (max-width: 1070px) {
  .container {
    width: 690px;
    padding: 40px 0px;
  }
  .center .leftside_content img {
    width: 100;
    height: 645px;
  }
  .center .rightside_content h1 {
    font-size: 38px;
    font-weight: 600;
    line-height: 120%; /* 45.6px */
  }
  .center .rightside_content p {
    width: 325px;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
  }
  .center .rightside_content div {
    row-gap: 15px;
  }
}
@media screen and (max-width: 790px) {
  .container {
    width: 315px;
    padding: 40px 0px;
  }
  .center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .center .leftside_content {
    width: 100%;
  }
  .center .leftside_content img {
    width: 100%;
    height: 232px;
  }
  .center .rightside_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px;
    width: 375px;
  }
  .center .rightside_content p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 315px;
  }
  .center .rightside_content div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .center .rightside_content .primaryBtn {
    margin-bottom: 40px;
  }
}
.header_img img:first-child {
  width: 100%;
  height: 320px;
}

.creator_info_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.creator_info_body .creator_info_content {
  padding: 90px 0px 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #3b3b3b;
}
.creator_info_body .creator_info_content .creator_img {
  position: absolute;
  top: -70px;
}
.creator_info_body .creator_info_content .left_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
}
.creator_info_body .creator_info_content .left_content h1 {
  font-size: 51px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 56.1px */
  text-transform: capitalize;
}
.creator_info_body .creator_info_content .left_content .creator_info_stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.creator_info_body .creator_info_content .left_content .creator_info_stats > div {
  width: 156px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.creator_info_body .creator_info_content .left_content .creator_info_stats > div p {
  font-family: Space Mono;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 39.2px */
  text-transform: capitalize;
}
.creator_info_body .creator_info_content .left_content > div > p {
  color: #858584;
}
.creator_info_body .creator_info_content .left_content .bio, .creator_info_body .creator_info_content .left_content .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}
.creator_info_body .creator_info_content .right_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.creator_info_body .creator_info_content .right_content button:first-child {
  width: 200px;
}
.creator_info_body .creator_info_content .right_content button:last-child {
  background-color: transparent;
  border: 1px solid #A259FF;
}

.nfts_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nfts_section .creator_NFTs_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 120px;
}
.nfts_section .creator_NFTs_header p {
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 30.8px */
  text-transform: capitalize;
  cursor: pointer;
}
.nfts_section .creator_NFTs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding-top: 80px;
  background-color: #3b3b3b;
}
.nfts_section .creator_NFTs .section5_content .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.nfts_section .creator_NFTs .section5_content .cards > div:hover {
  scale: 0.95;
}
.nfts_section .creator_NFTs .section5_content .cards div {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.nfts_section .creator_NFTs .section5_content .cards div .bottomside:last-child {
  background-color: #2b2b2b;
  width: 330px;
  height: 173px;
  margin-top: -3px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 30px 25px 30px;
  row-gap: 25px;
}
.nfts_section .creator_NFTs .section5_content .cards div .bottomside:last-child > div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -20px;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.nfts_section .creator_NFTs .section5_content .cards div .bottomside:last-child > div:nth-child(2) img {
  width: 24px;
  height: 24px;
}
.nfts_section .creator_NFTs .section5_content .cards div .bottomside:last-child > div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nfts_section .creator_NFTs .section5_content .cards div .bottomside:last-child > div:last-child div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
}
.nfts_section .creator_NFTs .section5_content .cards div .bottomside:last-child > div:last-child p:first-child {
  color: #858584;
}

@media screen and (max-width: 1050px) {
  .container {
    width: 690px;
  }
  .creator_info_body .creator_info_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 30px;
  }
}
@media screen and (max-width: 690px) {
  .container {
    width: 315px;
  }
  .creator_info_body .creator_info_content .creator_img {
    left: 40%;
  }
  .creator_info_body .creator_info_content .right_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 10px;
  }
  .creator_info_body .creator_info_content .right_content .primaryBtn:first-child {
    width: 100%;
  }
  .creator_info_body .creator_info_content .right_content .primaryBtn:last-child {
    width: 100%;
  }
  .nfts_section .creator_NFTs_header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
}
.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 10px;
}
.content h1 {
  font-family: Work Sans;
  font-size: 51px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 56.1px */
  text-transform: capitalize;
}
.content p {
  margin-bottom: 20px;
  color: var(--White, #FFF);
  font-family: Work Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.content input {
  width: 100%;
  height: 60px;
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid #858584;
  padding-left: 20px;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  color: #FFFFFF;
}
.content .container > div {
  position: relative;
}
.content .container > div img {
  position: absolute;
  right: 15px;
  top: 18px;
  cursor: pointer;
}

.nfts_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nfts_section .creator_NFTs_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px 50px;
}
.nfts_section .creator_NFTs_header p {
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 30.8px */
  text-transform: capitalize;
  cursor: pointer;
}
.nfts_section .creator_NFTs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding-top: 20px;
  background-color: #3b3b3b;
}
.nfts_section .creator_NFTs .section5_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nfts_section .creator_NFTs .section5_content .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}
.nfts_section .creator_NFTs .section5_content .cards > div:hover {
  scale: 0.95;
}
.nfts_section .creator_NFTs .section5_content .cards div {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.nfts_section .creator_NFTs .section5_content .cards div .bottomside:last-child {
  background-color: #2b2b2b;
  width: 330px;
  height: 173px;
  margin-top: -3px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 30px 25px 30px;
  row-gap: 25px;
}
.nfts_section .creator_NFTs .section5_content .cards div .bottomside:last-child > div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -20px;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.nfts_section .creator_NFTs .section5_content .cards div .bottomside:last-child > div:nth-child(2) img {
  width: 24px;
  height: 24px;
}
.nfts_section .creator_NFTs .section5_content .cards div .bottomside:last-child > div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nfts_section .creator_NFTs .section5_content .cards div .bottomside:last-child > div:last-child div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
}
.nfts_section .creator_NFTs .section5_content .cards div .bottomside:last-child > div:last-child p:first-child {
  color: #858584;
}
.nfts_section .creator_NFTs .section5_content .more {
  position: relative;
}
.nfts_section .creator_NFTs .section5_content .more .spinner {
  left: 55px;
  top: 8px;
  width: 45px;
  height: 45px;
}
.nfts_section .creator_NFTs .section5_content .more .spinner .spinner1 {
  width: 45px;
  height: 45px;
}
.nfts_section .creator_NFTs .section5_content .primaryBtn {
  background-color: transparent;
  border: 1px solid #A259FF;
}

.spinner {
  display: none;
  position: absolute;
  right: 10px;
  top: 12px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(35%, rgb(186, 66, 255)), to(rgb(0, 225, 255)));
  background-image: linear-gradient(rgb(186, 66, 255) 35%, rgb(0, 225, 255));
  width: 35px;
  height: 35px;
  -webkit-animation: spinning82341 1.7s linear infinite;
          animation: spinning82341 1.7s linear infinite;
  text-align: center;
  border-radius: 50px;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  -webkit-box-shadow: 0px -5px 20px 0px rgb(186, 66, 255), 0px 5px 20px 0px rgb(0, 225, 255);
          box-shadow: 0px -5px 20px 0px rgb(186, 66, 255), 0px 5px 20px 0px rgb(0, 225, 255);
}

.spinner1 {
  background-color: rgb(36, 36, 36);
  width: 35px;
  height: 35px;
  border-radius: 50px;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

@keyframes spinning82341 {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.big_spinner {
  display: none;
  position: relative;
  margin: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(35%, rgb(186, 66, 255)), to(rgb(0, 225, 255)));
  background-image: linear-gradient(rgb(186, 66, 255) 35%, rgb(0, 225, 255));
  width: 150px;
  height: 150px;
  -webkit-animation: spinning82341 1.7s linear infinite;
          animation: spinning82341 1.7s linear infinite;
  text-align: center;
  border-radius: 50px;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  -webkit-box-shadow: 0px -5px 20px 0px rgb(186, 66, 255), 0px 5px 20px 0px rgb(0, 225, 255);
          box-shadow: 0px -5px 20px 0px rgb(186, 66, 255), 0px 5px 20px 0px rgb(0, 225, 255);
}

.big_spinner1 {
  background-color: rgb(36, 36, 36);
  width: 150px;
  height: 150px;
  border-radius: 50px;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.sidebar_closed {
  display: none;
}

.sidebar_open {
  width: 220px;
  height: 8835px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #3b3b3b;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  row-gap: 20px;
  padding-top: 20px;
  padding-left: 20px;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 15;
}

@media screen and (max-width: 1070px) {
  .navbar {
    position: relative;
  }
  .sidebar {
    width: 100px;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: red;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    row-gap: 20px;
    position: absolute;
    right: 0px;
    top: 0px;
  }
}
.rankings h1 {
  margin-bottom: 20px;
}
.rankings > p {
  margin-bottom: 80px;
}
.rankings div:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 50px;
  margin-bottom: 40px;
}
.rankings div:nth-child(3) p:nth-child(5), .rankings div:nth-child(3) p:nth-child(6), .rankings div:nth-child(3) p:nth-child(7), .rankings div:nth-child(3) p:nth-child(8) {
  display: none;
}
.rankings > div:nth-child(4) {
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #3B3B3B;
  border-radius: 20px;
  padding: 12px 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.rankings > div:nth-child(4) span {
  cursor: pointer;
}
.rankings > div:nth-child(4) span:first-child {
  padding-left: 45px;
  width: 430px;
  margin-right: -80px;
}
.rankings > div:nth-child(4) span:last-child {
  padding-right: 100px;
}
.rankings .rankings_cards {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}
.rankings .rankings_cards .card {
  margin: 0px;
  background-color: #3B3B3B;
  border-radius: 20px;
  width: 100%;
  height: 84px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.rankings .rankings_cards .card .number {
  position: absolute;
  left: 20px;
  background-color: #2b2b2b;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.rankings .rankings_cards .card img {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 70px;
  top: 10px;
}
.rankings .rankings_cards .card .artist_name {
  position: absolute;
  left: 120px;
  margin-bottom: 0px;
}
.rankings .rankings_cards .card .change {
  position: absolute;
  left: 487px;
}
.rankings .rankings_cards .card .NFTs_sold {
  position: absolute;
  right: 320px;
}
.rankings .rankings_cards .card .volume {
  position: absolute;
  right: 120px;
}

@media screen and (max-width: 1070px) {
  .rankings > div:nth-child(4) span:nth-child(3) {
    display: none;
  }
  .rankings .rankings_cards .card .NFTs_sold {
    display: none;
  }
  .rankings .rankings_cards .card .change {
    left: 407px;
  }
  .rankings .rankings_cards .card .volume {
    position: absolute;
    right: 120px;
  }
}
@media screen and (max-width: 700px) {
  .rankings > div:nth-child(3) {
    padding: 0px 20px;
  }
  .rankings > div:nth-child(3) p:nth-child(1), .rankings > div:nth-child(3) p:nth-child(2), .rankings > div:nth-child(3) p:nth-child(3), .rankings > div:nth-child(3) p:nth-child(4) {
    display: none;
  }
  .rankings > div:nth-child(3) p:nth-child(5), .rankings > div:nth-child(3) p:nth-child(6), .rankings > div:nth-child(3) p:nth-child(7), .rankings > div:nth-child(3) p:nth-child(8) {
    display: initial;
    color: var(--White, #FFF);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 22.4px */
    text-transform: capitalize;
  }
  .rankings > div:nth-child(4) span:first-child {
    padding-left: 10px;
  }
  .rankings > div:nth-child(4) span:nth-child(2) {
    display: none;
  }
  .rankings > div:nth-child(4) span:last-child {
    padding-right: 50px;
  }
  .rankings .rankings_cards .card {
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .rankings .rankings_cards .card img {
    width: 24px;
    height: 24px;
    left: 50px;
    top: 13px;
  }
  .rankings .rankings_cards .card .number {
    width: 20px;
    height: 20px;
  }
  .rankings .rankings_cards .card .change {
    display: none;
  }
  .rankings .rankings_cards .card .volume {
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    right: 80px;
  }
  .rankings .rankings_cards .card .artist_name {
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    left: 40px;
  }
  .rankings .rankings_cards .card button:last-child {
    width: 40px;
    height: 40px;
  }
}