.primaryBtn{
    width: 152px;
    height: 60px;
    background-color: $buttoncolor;
    padding: 0 30px;
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 16px;
    font-family: Work Sans;
    font-weight: 600;
    line-height: 22.40px;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 12px;
    cursor: pointer;
    transition: 0.3s;
}

.primaryBtn:hover{
    scale: 0.9;
}

