.navbar{
    transition: 0.1s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;

    .leftside_navbar{
        display: flex;
        column-gap: 10px;
        :last-child{
            padding-top: 4px;
        }
        cursor: pointer;
    }

    .rightside_navbar{
        display: flex;
        align-items: center;
        column-gap: 40px;
        padding-left: 20px;
        >img{
            display: none;
        } 
    a{
        color: $textcolor;
        text-decoration: none;
        font-weight: 600;
    }
    }
}

@media screen and (max-width: 1070px){
    .navbar{
        padding: 15px 50px;
        .rightside_navbar{
            >img{
                display: initial;
                cursor: pointer;
            }
            a{
                display: none;
            }
            button{
                display: none;
            }

        }
    }
}

@media screen and (max-width: 700px){
    .navbar{
        padding: 15px 30px;
    }
}
